# Large Movie Review Dataset

Данные <a href="https://ai.stanford.edu/~amaas/data/sentiment/">Large Movie Review Dataset v1.0</a>, к сожалению, хранятся не в самом удобном формате. Для дальнейшей работы они будут перезаписаны в `PARQUET`.

Прежде всего импортируем инструменты

In [1]:
import os
import pandas as pd

Читаем данные, составляем из них `pd.DataFrame`, выводим информацию и начало таблицы

In [2]:
%%time

data = pd.DataFrame(columns=["text", "label"])
i = 0

path = "aclImdb\\train\\pos"
for filename in os.listdir(path):
    with open(path + "\\" + filename, encoding="utf-8") as file:
        data.loc[i] = [file.read(), "positive"]
        i += 1

path = "aclImdb\\test\\pos"        
for filename in os.listdir(path):
    with open(path + "\\" + filename, encoding="utf-8") as file:
        data.loc[i] = [file.read(), "positive"]
        i += 1

path = "aclImdb\\train\\neg"        
for filename in os.listdir(path):
    with open(path + "\\" + filename, encoding="utf-8") as file:
        data.loc[i] = [file.read(), "negative"]
        i += 1

path = "aclImdb\\test\\neg"        
for filename in os.listdir(path):
    with open(path + "\\" + filename, encoding="utf-8") as file:
        data.loc[i] = [file.read(), "negative"]
        i += 1
        
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    50000 non-null  object
 1   label   50000 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB
Wall time: 3min 8s

                                                text     label
0  Bromwell High is a cartoon comedy. It ran at t...  positive
1  Homelessness (or Houselessness as George Carli...  positive
2  Brilliant over-acting by Lesley Ann Warren. Be...  positive
3  This is easily the most underrated film inn th...  positive
4  This is not the typical Mel Brooks film. It wa...  positive

Паркетизируем данные

In [4]:
data.to_parquet("large_movie_review_dataset.parquet", compression=None)

Проверяем, что паркетизированные данные совпадают с исходными

In [5]:
data = pd.read_parquet("large_movie_review_dataset.parquet")
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    50000 non-null  object
 1   label   50000 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

                                                text     label
0  Bromwell High is a cartoon comedy. It ran at t...  positive
1  Homelessness (or Houselessness as George Carli...  positive
2  Brilliant over-acting by Lesley Ann Warren. Be...  positive
3  This is easily the most underrated film inn th...  positive
4  This is not the typical Mel Brooks film. It wa...  positive